/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --background: hsl(210, 7%, 11%);
  --surface-variant: hsl(218, 8%, 28%);
  --secondary-container: hsl(218, 18%, 29%);
  --on-secondary-container: hsl(219, 70%, 91%);

  /**
   * border radius
   */

  --radius-full: 50%;
  --radius-12: 12px;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
  user-select: none;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-size: 1.6rem;
  padding-block: 48px;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}

body:is(:hover, :focus-visible)::-webkit-scrollbar-thumb {
  background-color: var(--surface-variant);
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
